{% extends 'base.html' %}
{% block title %} Edit Your Account {% endblock %}
{% block style %}
{% endblock %}

{% block content %}
    <h1>Edit your account</h1>
    <p>You can edit you account using the following form</p>
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <p>
            <input type="submit" value="Save Changes"/>
        </p>

    </form>

    <a href="{% url 'account:dashboard' %}">Back to Dashboard</a>
{% endblock %}