#bookmarklet {
    padding: 1rem;
    display: block;
    width: 50%;
    margin: 3rem auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);

}

.dialog_header {
    display: flex;
    justify-content: space-between;
    order: revert;
    align-items: center;
}

#bookmarklet h1 {
    font-size: 2rem;
}

#close {
    color: var(--secondary-text-color);
    font-size: 4rem;
}